<header>
  <div class="navbar bd-navbar box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="{{webApiUrl}}" target="_blank" class="navbar-brand primary d-flex align-items-center">
        <strong>Web API Documentation</strong>
      </a>
      <button *ngIf="logged" type="button" (click)="logout()" class="btn btn-outline-primary">
        Logout
      </button>
    </div>
  </div>
</header>
<section class="jumbotron text-center">
  <div class="left" style="max-width: 150px;">
    <asl-google-signin-button *ngIf="!logged" type='standard' size='medium'>
    </asl-google-signin-button>
    <app-user-profile *ngIf="logged && model" [model]="model"></app-user-profile>
  </div>
</section>